Source: syslog-redirector
Section: non-free/net
Priority: extra
Maintainer: Drew Csillag <drewc@spotify.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: syslog-redirector
Architecture: all
Description: Utility to redirect stdout, stderr to syslog
