#!/usr/bin/make -f

%:
	dh $@

GO=/usr/bin/gccgo

build:
	dh build --until dh_auto_build
	$(GO) -static -o syslog-redirector syslog-redirector.go syslog.go syslog_unix.go
	# dh_install cannot rename files, so do that here.
	dh build --remaining

binary:
	dh binary --until dh_fixperms
	dh binary --remaining

clean:
	dh clean
	$(GO) clean
