#!/usr/bin/make -f

%:
	dh $@

GO=$(CURDIR)/go/bin/go

build:
#	git submodule init
#	git submodule update
	dh build --until dh_auto_build
	GOROOT=$(CURDIR)/go CGO_ENABLED=0 $(GO) build syslog-redirector.go syslog_unix.go syslog.go
	dh build --remaining

binary:
	dh binary --until dh_fixperms
	dh binary --remaining

clean:
	dh clean
